[submodule "bundle/glsl.vim"]
	path = bundle/glsl.vim
	url = https://github.com/x1ph1s/glsl.vim
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/cmp-nvim-lsp"]
	path = bundle/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "bundle/lsp_signature.nvim"]
	path = bundle/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "bundle/nnn.vim"]
	path = bundle/nnn.vim
	url = https://github.com/mcchrish/nnn.vim
[submodule "bundle/nvim-cmp"]
	path = bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "bundle/nvim-lspconfig"]
	path = bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "bundle/vim-cpp-modern"]
	path = bundle/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "bundle/cmp-path"]
	path = bundle/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "bundle/nvim-snippy"]
	path = bundle/nvim-snippy
	url = https://github.com/dcampos/nvim-snippy
[submodule "bundle/cmp-snippy"]
	path = bundle/cmp-snippy
	url = https://github.com/dcampos/cmp-snippy
[submodule "bundle/asyncrun.vim"]
	path = bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "bundle/alpha-nvim"]
	path = bundle/alpha-nvim
	url = https://github.com/goolord/alpha-nvim
[submodule "bundle/nvim-comment"]
	path = bundle/nvim-comment
	url = https://github.com/terrortylor/nvim-comment
[submodule "bundle/feline.nvim"]
	path = bundle/feline.nvim
	url = https://github.com/feline-nvim/feline.nvim
[submodule "bundle/--force"]
	path = bundle/--force
	url = https://github.com/rebelot/heirline.nvim
